[Desktop Entry]
Version=1.0
Name=MyConnector
Name[ru]=MyConnector
Comment=Connect to various servers
Comment[ru]=Подключение к различным серверам
Exec=/usr/bin/myconnector %f
Icon=myconnector
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=application/x-myconnector;application/x-remmina;
