[Desktop Entry]
Version=1.0
Name=Connector
Exec=/usr/share/connector/kiosk/connector-kiosk
Icon=connector
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
