[Desktop Entry]
Version=1.0
Name=Connector
Name[ru]=Connector
Comment=Connect to various servers
Comment[ru]=Подключение к различным серверам
Exec=/usr/bin/connector %f
Icon=connector
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=application/x-connector;
