[Desktop Entry]
Name=Connector
Comment=Подключение к различным серверам
Exec=/usr/bin/connector %f
Icon=connector
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=application/x-connector;
