Package: myconnector
Version: 2.0.rc0-1
Provides: connector
Conflicts: connector (<<2.0)
Maintainer: Korneechev E. <ek@myconnector.ru>
Architecture: all
Section: net
Description: Инструмент системного администратора.
 Программа-агрегатор для осуществления подключения к различным
 компьютерным системам по всем распространенным протоколам (RDP, VNC,
 Citrix, VMware и прочие).
Depends: libgtk-3-0 (>=3.10), python3 (>=3.2), python3-gi (>=3.2), xdg-utils, freerdp2-x11, remmina (>=1.2), remmina-plugin-rdp, remmina-plugin-vnc, remmina-plugin-nx, remmina-plugin-xdmcp, remmina-plugin-spice, vncviewer, python3-keyring, zenity
Priority: optional
Installed-Size:
Homepage: http://myconnector.ru
